---
import ChargeSection from "../components/ChargeSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";

const chargeSections = [
	{
		title: "Model 3",
		subtitle: "Programe una demostración de manejo",
		color: "black",
		background: "model-3",
	},
	{
		title: "Model Y",
		subtitle: "Programe una demostración de manejo",
		color: "black",
		background: "model-y",
	},
	{
		title: "Model S",
		subtitle: "Programe una demostración de manejo",
		color: "black",
		background: "model-s",
	},
	{
		title: "Model X",
		subtitle: "Programe una demostración de manejo",
		color: "black",
		background: "model-x",
	},
	{
		title: "Energía solar y Powerwall",
		subtitle: "Totalmente eléctrico",
		color: "black",
		background: "powerwall",
	},
];
---

<Layout title="Autos eléctricos">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		{
			chargeSections.map((section) => (
				<div class="snap-center">
					<ChargeSection {...section} />
				</div>
			))
		}
	</main>
</Layout>
